<div class="sidenav border-right-1 border-purple-900">
  <div class="text-center">
    <input type="text" name="text" class="input shadow-4" [(ngModel)]="city" (keyup.enter)="getTodayWeather()" placeholder="Search for places...">
  </div>
  <img style="width:100%; height: 13rem" [src]="getImage(weather?.current?.condition?.code)" alt=""/>
  <div style="    font-size: 45px;
    display: flex;
    justify-content: center;
    color: #f1f1f1;">{{ weather.current.temp_c }}°C
  </div>
  <div style="    font-size: 45px;
    display: flex;
    justify-content: center;
    color: aliceblue;">{{ weather.location.name }}
  </div>

</div>
<div class="main">
  <div class="flex gap-2 mt-3 ">
    <div *ngFor="let fore of weather?.forecast?.forecastday" class="card text-center" style="width:14%">
      <div class="flex-column" (click)="hourDialog(fore)">
        <div class="">{{ fore.date_epoch * 1000 | date: 'EEEE' }}</div>
        <img [src]="'https:' + fore.day.condition.icon" alt="weather condition icon">
        <div>
          {{ fore.day.avgtemp_c }} °C
        </div>

      </div>

    </div>
  </div>
  <p-divider align="left">
    <span class="p-tag" [style]="{'background': 'rgba(255,255,255,0.12)', 'color': '#0c0c0e', 'font-size':'1rem', 'border-radius': '1F'}"> Today's Highlights</span>
  </p-divider>
  <div class="grid">
    <div class="col-4 ">
      <div class="card text-center">
        <label>Wind Status</label>
        <div><label style="font-size: 3em">{{ weather?.current?.wind_kph }}</label> km/h</div>
        <div class="flex justify-content-center align-items-center gap-2  ">
          <div class="relative  border-1 border-gray-100 w-5rem h-5rem " style="border-radius: 50%; font-size:12px">
            <div class="absolute" style="top: 3px; left:44%">
              N
            </div>
            <div class="absolute" style="right: 3px; top:40%">
              E
            </div>
            <div class="absolute" style="left: 3px; top:40%">
              W
            </div>
            <div class="absolute" style="bottom: 3px; left:44%">
              S
            </div>
            <div class="absolute w-1rem h-1rem" style="top: 40%; left: 42%" [style.rotate]="weather.current.wind_degree +80 + 'deg'">
              <i class="pi pi-angle-double-right"></i>
            </div>

          </div>
          <label>{{ weather?.current?.wind_dir }}</label>


        </div>

      </div>
    </div>
    <div class="col-4 ">
      <div class="card text-center" style="height: 184px">
        <label>Sunrise & Sunset</label>
        <div class="flex justify-content-around align-items-center gap-4">
          <div class="pt-5">
            <i class="pi pi-sun" style="font-size: 2em;"></i>
            <div><label style="font-size: 1.5em">{{ weather?.forecast?.forecastday[0]?.astro?.sunrise }}</label></div>
            <label>Sunrise</label>
          </div>
          <div class="pt-5">
            <i class="pi pi-moon" style="font-size: 2em;"></i>
            <div><label style="font-size: 1.5em">{{ weather?.forecast?.forecastday[0]?.astro?.sunset }}</label></div>
            <label>Sunset</label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 ">
      <div class="card text-center " style="height: 184px">
        <label>Air Quality (PM2.5)</label>
        <div class="flex flex-column justify-content-center align-items-center pt-3">
          <div style="font-size: 4em">{{ weather?.current?.air_quality?.pm2_5 }}</div>
          <label>μg/m³</label>
        </div>

      </div>
    </div>

    <div class="col-4 ">
      <div class="card flex justify-content-center flex-column align-items-center text-center" style="height: 184px">
        <label>UV Index</label>
        <div class="relative">
          <p-chart width="8rem" height="8rem" type="doughnut" [data]="data" [options]="options"></p-chart>

        </div>
        <div class="absolute mt-4">
          {{weather?.current?.uv}}
        </div>
      </div>
    </div>


    <div class="col-4">
      <div class="card text-center" style="height: 184px">
        <label>Visibility</label>
        <div class="flex flex-column align-items-center justify-content-center pt-1">
          <div><label style="font-size: 4em">{{ weather?.current?.vis_km }}</label>km</div>
          <img src="assets/clean-air.png" width="36">
        </div>
      </div>
    </div>


    <div class="col-4">
      <div class="card text-center" style="height: 184px">
        <label>Humidity</label>
        <div class="flex flex-column align-items-center justify-content-center pt-1">
          <div><label style="font-size: 4em">{{ weather?.current?.humidity }}</label>%</div>
          <img src="assets/humidity.png" width="36">
        </div>
      </div>
    </div>
  </div>
</div>


