<div class="sidenav">


  <input type="text" name="text" class="input" [(ngModel)]="city"  (keyup.enter)="getTodayWeather()" placeholder="Search for places...">
  <img style="width:94%; height: 13rem" [src]="getImage(weather.current.condition.code)"/>
  <div style="    font-size: 45px;
    display: flex;
    justify-content: center;
    color: aliceblue;">{{ weather.current.temp_c }} °C
  </div>
  <div style="    font-size: 45px;
    display: flex;
    justify-content: center;
    color: aliceblue;">{{weather.location.name}}
  </div>

</div>

<div class="main">
  <h2>Sidebar</h2>
  <div *ngIf= weather>
    <label>Temperature (F): {{ weather.current.temp_f }}</label><br>
    <label>Condition: {{ weather.current.condition?.text }}</label><br>
    <img [src]="'https:' + weather.current.condition?.icon" alt="weather condition icon">
<div> tarih: {{ weather.current.last_updated_epoch * 1000 | date : 'dd.MM.yyyy EEEE' }}</div>
    <div>Sıcaklık (C): {{ weather.current.temp_c }}</div>
    <div>Sıcaklık (F): {{ weather.current.temp_f }}</div>
    <div>Durum: {{ weather.current.condition?.text }}</div>
    <img [src]="'https:' + weather.current.condition?.icon" alt="hava durumu ikonu">
    <div>Rüzgar Hızı (mph): {{ weather.current.wind_mph }}</div>
    <div>Rüzgar Hızı (kph): {{ weather.current.wind_kph }}</div>
    <div>Rüzgar Derecesi: {{ weather.current.wind_degree }}</div>
    <div>Rüzgar Yönü: {{ weather.current.wind_dir }}</div>
    <div>Basınç (mb): {{ weather.current.pressure_mb }}</div>
    <div>Basınç (in): {{ weather.current.pressure_in }}</div>
    <div>Yağış (mm): {{ weather.current.precip_mm }}</div>
    <div>Yağış (in): {{ weather.current.precip_in }}</div>
    <div>Nem: {{ weather.current.humidity }}</div>
    <div>Bulut: {{ weather.current.cloud }}</div>
    <div>Hissedilen Sıcaklık (C): {{ weather.current.feelslike_c }}</div>
    <div>Hissedilen Sıcaklık (F): {{ weather.current.feelslike_f }}</div>
    <div>Rüzgar Soğukluğu (C): {{ weather.current.windchill_c }}</div>
    <div>Rüzgar Soğukluğu (F): {{ weather.current.windchill_f }}</div>
    <div>Sıcaklık Endeksi (C): {{ weather.current.heatindex_c }}</div>
    <div>Sıcaklık Endeksi (F): {{ weather.current.heatindex_f }}</div>
    <div>Çiy Noktası (C): {{ weather.current.dewpoint_c }}</div>
    <div>Çiy Noktası (F): {{ weather.current.dewpoint_f }}</div>
    <div>Görüş Mesafesi (km): {{ weather.current.vis_km }}</div>
    <div>Görüş Mesafesi (mil): {{ weather.current.vis_miles }}</div>
    <div>UV Endeksi: {{ weather.current.uv }}</div>
    <div>Rüzgar Gürültüsü (mph): {{ weather.current.gust_mph }}</div>
    <div>Rüzgar Gürültüsü (kph): {{ weather.current.gust_kph }}</div>
    <div>Hava Kalitesi (CO): {{ weather.current.air_quality?.co }}</div>
    <div>Hava Kalitesi (NO2): {{ weather.current.air_quality?.no2 }}</div>
    <div>Hava Kalitesi (O3): {{ weather.current.air_quality?.o3 }}</div>
    <div>Hava Kalitesi (PM2.5): {{ weather.current.air_quality?.pm2_5 }}</div>
    <div>Hava Kalitesi (PM10): {{ weather.current.air_quality?.pm10 }}</div>
    <div>Hava Kalitesi (SO2): {{ weather.current.air_quality?.so2 }}</div>


    <div>Ülke: {{ weather.location?.name }}</div>
    <div>Enlem: {{ weather.location?.name }}</div>
    <div>Yerel Saat: {{ weather.location?.localtime }}</div>
    <div>Boylam: {{ weather.location?.lon }}</div>
    <div>İsim: {{ weather.location?.name }}</div>
    <div>Bölge: {{ weather.location?.region }}</div>
    <div>Zaman Dilimi: {{ weather.location?.tz_id }}</div>
  </div>

</div>

