
.sidenav {
  height: 100%;
  width: 360px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 366px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.input {
  width:95%;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #3f457c;
  transition: 0.3s;
}

.input:focus {
  outline-color: #3f457c;
  background: #3f457c;
  box-shadow: inset 20px 20px 60px #c5c5c5,
  inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}
.radio-buttons {
  width:14rem;
  display: flex;
  border: 3px solid #ffdfff;
  border-radius: 40px;
  overflow: hidden;
}

.radio-button {
  flex: 1;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.radio-button input:checked + label {
  background-color: #ffdfff;
}
.radio-button:hover {
  background-color: #ffe6ff;
}
:host::ng-deep .p-divider-content {
  background: aliceblue;
}

.radio-button input {
  display: none;
}

:host::ng-deep .p-divider-content {
  border-radius: 10px !important;
}


